{# node--practicas.html.twig #}

<div class="container custom-formacion">
    <article {{attributes.addClass('node','node--type-practicas','clearfix')}}>
      <div class="content-wrapper">
        <h1>{{ title }}</h1>
      </div>

    </article>
  </div>
