
<div class="container custom-acreditacion">
	<article{{attributes.addClass('node','node--type-registro_calificado','clearfix')}}>

		<div{{content_attributes.addClass('node__content')}}>
		{% if content.field_condiciones %}
		<div class="node__condiciones card card__field">
			<div class="card-title">
				<h3>Condiciones</h3>
			</div>
			<div class="card-text-condiciones">
				{{ content.field_condiciones }}
			</div>
		</div>
		{% endif %}

		{% if content.field_normatividad %}
		<div class="node__cuadros__maestros card card__field">
        	<div class="card-title">
            	<h3>Normatividad</h3>
        	</div>
			<div class="card-text">
            	{{ content.field_normatividad }}
          	</div>
		</div>
		{% endif %}
		</div>
	</article>
</div>
