<div class="row d-flex justify-content-center">
	<div class="col d-flex justify-content-center">
		<h3 class="text-center">{{ label }}</h3>
	</div>
</div>
<div class="container">
	<div class="card p-3 mb-3">
		<div class="row">
			<div class="col">
				<h3>Documento de autoevaluación</h3>
			</div>
		</div>
    {{ content.field_documento_autoevaluacion }}
	</div>

	<div class="card p-3 mb-3">
		<div class="row">
			<div class="col">
				<h3>Anexos</h3>
			</div>
		</div>
		{{ content.field_anexos }}
	</div>
</div>
