<div class="card p-3 mb-3">
<div class="card-title">
  <h4>{{ content.field_nombre_condicion_rc }}</h4>
</div>
<div class="card-body">
  <h4>
    Concepto
  </h4>
  <div>
    {{ content.field_concepto }}
  </div>
  <hr>
  <div>
    <h4>Documento</h4>
  </div>
  <div>
    {{ content.field_documento_ci }}
  </div>
</div>
</div>
