<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <a href="/registro-calificado">
        <div class="card card_dashboard p-3">
          <div class="card-title">
            <h4 class="card_dashboard__title text-center text-primary">Registro Calificado</h4>
          </div>
          <div class="card-body d-flex justify-content-center">
            <img class="card_dashboard__icon" src="/themes/custom/repo/assets/icons/calificado.png" alt="">
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card card_dashboard p-3">
        <div class="card-title">
          <h4 class="card_dashboard__title text-center text-success">Aseguramiento de la Calidad</h4>
        </div>
        <div class="card-body d-flex justify-content-center">
          <img class="card_dashboard__icon" src="/themes/custom/repo/assets/icons/ingeniero.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card card_dashboard p-3">
        <div class="card-title">
          <h4 class="card_dashboard__title text-center text-warning">Plan de Estudios</h4>
        </div>
        <div class="card-body d-flex justify-content-center">
          <img class="card_dashboard__icon" src="/themes/custom/repo/assets/icons/practica.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card card_dashboard p-3">
        <div class="card-title">
          <h4 class="card_dashboard__title text-center text-info">Gestión Académica</h4>
        </div>
        <div class="card-body d-flex justify-content-center">
          <img class="card_dashboard__icon" src="/themes/custom/repo/assets/icons/autoevaluacion.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
