<div class="encabezado">
  <a href="/">
    <img class="logo-iser-img" src="/themes/custom/repo/assets/logos-ref/logo_iser.png" alt="">
  </a>
	<img class="logo-divisor-img" src="/themes/custom/repo/assets/logos-ref/linea-vertical.png" alt="">
	<img class="logo-repo-img" src="/themes/custom/repo/assets/logos-ref/RA02.png" alt="">
</div>
