{# Archivo: themes/custom/tu-tema/templates/views-view--registro_calificado--page-1.html.twig #}



<div class="container">
<div class="row">
  <div class="col-sm-12">
    <h3>Resultados de Aprendizaje</h3>
    <ul>
      <li>
        <a href="/matriz-de-resultados-de-aprendizaje/{{ view.args[0] }}">
          Matriz de Resultados de Aprendizaje
        </a>
      </li>
      <li>
        <a href="/informes-de-resultados-de-aprendizaje/{{ view.args[0] }}">
          Informes de Resultados de Aprendizaje
        </a>
      </li>
      <li>
        <a href="/consolidado-de-resultados-de-aprendizaje/{{ view.args[0] }}">
          Consolidado de Resultados de Aprendizaje
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
