{# Archivo: themes/custom/tu-tema/templates/views-view--autoevaluacion--page-1.html.twig #}


<div class="container mt-3 p-3">
	<div class="flex flex-row">
		{#<div>
			{% if exposed %}
				<div class="view-filters">
					<form action="{{ view.exposed.form.action }}" method="get" id="{{ view.exposed.form_id }}">
						{{ exposed }}
					</form>
				</div>
			{% endif %}
		</div>#}
		<div>
			<div class="card p-3 mb-2">
				<div class="card-body">
					<h1>{{ fields.title.content }}</h1>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div>
